[mariadb]
name = MariaDB-{{ mysql_install_settings.version }}
baseurl=http://yum.mariadb.org/{{ mysql_install_settings.version }}/{{ ansible_distribution | lower }}{{ ansible_distribution_major_version }}-amd64
{% if 'dnf' in ansible_pkg_mgr %}
module_hotfixes=1
{% endif %}
gpgkey=https://yum.mariadb.org/RPM-GPG-KEY-MariaDB
gpgcheck=1
