---

- name: repo tasks
  include_tasks: repo-setup.yml

- name: pre-install tasks
  include_tasks: pre-install.yml

- name: install tasks
  include_tasks: install.yml

- name: configure tasks
  include_tasks: configure.yml

- name: secure tasks
  include_tasks: secure-mysql.yml

- name: galera tasks
  include_tasks: galera.yml
  when: (galera_cluster_settings.enabled | bool)
