deb https://releases.galeracluster.com/mysql-wsrep-{{ mysql_install_settings.version }}/{{ ansible_distribution | lower }} {{ ansible_distribution_major_version }} main
deb https://releases.galeracluster.com/galera-3/{{ ansible_distribution | lower }} {{ ansible_distribution_major_version }} main
