deb https://releases.galeracluster.com/mysql-wsrep-{{ mysql_install_settings.version }}/{{ ansible_distribution | lower }} {{ ansible_distribution_release | lower }} main
deb https://releases.galeracluster.com/galera-{{ galera_version }}/{{ ansible_distribution | lower }} {{ ansible_distribution_release | lower }} main
