[galera]
bind-address=0.0.0.0
wsrep_on=ON
wsrep_provider=/usr/lib64/galera/libgalera_smm.so
wsrep_cluster_address=gcomm://192.168.0.241,192.168.0.242,192.168.0.243
binlog_format=row
default_storage_engine=InnoDB
innodb_autoinc_lock_mode=2
innodb_doublewrite=1
innodb_flush_log_at_trx_commit=0
wsrep_sst_method=mariabackup
wsrep_sst_auth=cluster_backup_user:P455w0rd
wsrep_node_address={{ ansible_default_ipv4.address }} # change this
