[client]
port            = {{ mysql_conf_settings.port }}
socket          = {{ mysql_conf_settings.socket }}

[mysqld_safe]
socket          = {{ mysql_conf_settings.socket }}
nice            = 0

[mysqld]
{% if mysql_conf_settings.port|int != 3306 %}
port = {{ mysql_conf_settings.port }}
{% endif %}
bind-address = {{ mysql_conf_settings.bind_address }}
datadir = {{ mysql_conf_settings.datadir }}
socket = {{ mysql_conf_settings.socket }}
pid-file = {{ mysql_conf_settings.pid_file }}
skip-external-locking
{% if mysql_conf_settings.skip_name_resolve | bool %}
skip-name-resolve
{% endif %}
{% if mysql_conf_settings.sql_mode %}
sql_mode = {{ mysql_conf_settings.sql_mode }}
{% endif %}

# Logging configuration.
{% if mysql_conf_settings.log_error|int >0 %}
log-error = {{ mysql_conf_settings.log_error }}
{% else %}
log-error = /var/log/mysql/mysql.log
{% endif %}

{% if not mysql_install_settings.use_mariadb | bool and mysql_install_settings.version is version('8.0', '>=') %}
log_error_verbosity = 2
{% else %}
log_warnings = 2
{% endif %}

{% if mysql_conf_settings.slow_query_log_file| int > 0 %}
# Slow query log configuration.
slow_query_log = 1
slow_query_log_file = {{ mysql_conf_settings.slow_query_log_file }}
long_query_time = {{ mysql_conf_settings.slow_query_time }}
{% endif %}

{% if  mysql_install_settings.version is version('5.7', '<=') %}
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links = 0
{% endif %}

# Memory settings.
key_buffer_size = {{ mysql_conf_settings.key_buffer_size }}
max_allowed_packet = {{ mysql_conf_settings.max_allowed_packet }}
table_open_cache = {{ mysql_conf_settings.table_open_cache }}
sort_buffer_size = {{ mysql_conf_settings.sort_buffer_size }}
read_buffer_size = {{ mysql_conf_settings.read_buffer_size }}
read_rnd_buffer_size = {{ mysql_conf_settings.read_rnd_buffer_size }}
myisam_sort_buffer_size = {{ mysql_conf_settings.myisam_sort_buffer_size }}
thread_cache_size = {{ mysql_conf_settings.thread_cache_size }}
{% if mysql_install_settings.use_mariadb | bool or  mysql_install_settings.version is version('5.7', '<=') %}
query_cache_type = {{ mysql_conf_settings.query_cache_type }}
query_cache_size = {{ mysql_conf_settings.query_cache_size }}
query_cache_limit = {{ mysql_conf_settings.query_cache_limit }}
{% endif %}
max_connections = {{ mysql_conf_settings.max_connections }}
tmp_table_size = {{ mysql_conf_settings.tmp_table_size }}
max_heap_table_size = {{ mysql_conf_settings.max_heap_table_size }}
group_concat_max_len = {{ mysql_conf_settings.group_concat_max_len }}
join_buffer_size = {{ mysql_conf_settings.join_buffer_size }}

# Other settings.
wait_timeout = {{ mysql_conf_settings.wait_timeout }}
lower_case_table_names = {{ mysql_conf_settings.lower_case_table_names }}
event_scheduler = {{ mysql_conf_settings.event_scheduler_state }}
binlog_format = {{ mysql_conf_settings.binlog_format }}

{% if mysql_install_settings.use_mariadb | bool %}
log_bin                 = /var/log/mysql/mariadb-bin
log_bin_index           = /var/log/mysql/mariadb-bin.index
expire_logs_days        = 10
max_binlog_size         = 100M
{% endif %}

# InnoDB settings.
{% if galera_cluster_settings.enabled | bool %}
default_storage_engine=InnoDB
innodb_doublewrite=1
{% endif %}

innodb_file_per_table = {{ mysql_conf_settings.innodb_file_per_table }}
innodb_buffer_pool_size = {{ mysql_conf_settings.innodb_buffer_pool_size }}
innodb_log_file_size = {{ mysql_conf_settings.innodb_log_file_size }}
innodb_log_buffer_size = {{ mysql_conf_settings.innodb_log_buffer_size }}
innodb_flush_log_at_trx_commit = {{ mysql_conf_settings.innodb_flush_log_at_trx_commit }}
innodb_lock_wait_timeout = {{ mysql_conf_settings.innodb_lock_wait_timeout }}
innodb_flush_method = {{ mysql_conf_settings.innodb_flush_method }}
innodb_autoinc_lock_mode = {{ mysql_conf_settings.innodb_autoinc_lock_mode }}
innodb_thread_concurrency = {{ mysql_conf_settings.innodb_thread_concurrency }}
innodb_stats_on_metadata = {{ mysql_conf_settings.innodb_stats_on_metadata }}
innodb_buffer_pool_instances = {{ mysql_conf_settings.innodb_buffer_pool_instances }}

# galera cluster settings.
wsrep_on=ON
#wsrep_cluster_address=gcomm://{{ groups['galera_cluster'] | map('extract', hostvars, 'node_ip' ) | join(',') }}
wsrep_cluster_address=gcomm://{{ ansible_default_ipv4.address|default(ansible_all_ipv4_addresses[0]) }}
{% if galera_cluster_settings.enabled | bool and mysql_install_settings.use_mariadb | bool %}
wsrep_provider=/usr/lib64/galera/libgalera_smm.so
{% else %}
wsrep_provider=/usr/lib64/galera-{{ galera_version }}/libgalera_smm.so
{% endif %}
wsrep_sst_method=rsync
#wsrep_sst_method=mariabackup
#wsrep_sst_auth=cluster_backup_user:P455w0rd
wsrep_node_name={{ ansible_hostname }}
#wsrep_node_address={{ groups['galera_cluster'] | select('match', ansible_hostname) | map('extract', hostvars, 'node_ip' ) | list }} # change this
wsrep_node_address={{ ansible_default_ipv4.address|default(ansible_all_ipv4_addresses[0]) }}
